ServerRentingService/userDataCheck.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.ServerRenting.lt/viko/eif/rstankevicius/serverrenting/api/userDataCheck" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ServerRenting.lt/viko/eif/rstankevicius/serverrenting/api/userDataCheck" targetNamespace="http://www.ServerRenting.lt/viko/eif/rstankevicius/serverrenting/api/userDataCheck">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ServerRenting.lt/viko/eif/rstankevicius/serverrenting/api/userDataCheck">
            <xs:complexType name="dedicatedServersType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="storageSpace" type="xs:int"/>
                    <xs:element name="cpu" type="xs:string"/>
                    <xs:element name="ram" type="xs:string"/>
                    <xs:element name="os" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cloudServersType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="vCores" type="xs:int"/>
                    <xs:element name="storageSpace" type="xs:int"/>
                    <xs:element name="ram" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="userPackageType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="price" type="xs:float"/>
                    <xs:element maxOccurs="unbounded" name="dedicatedServers" type="tns:dedicatedServersType"/>
                    <xs:element maxOccurs="unbounded" name="cloudServers" type="tns:cloudServersType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UserData" type="tns:UserDataType"/>
            <xs:complexType name="UserDataType">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="username" type="xs:string"/>
                    <xs:element name="password" type="xs:string"/>
                    <xs:element name="userPackage" type="tns:userPackageType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UserDataCheck">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element default="false" name="hasDedicatedServers" type="xs:boolean"/>
                        <xs:element default="false" name="hasCloudServers" type="xs:boolean"/>
                        <xs:element name="price" type="xs:float"/>
                        <xs:element default="0" name="amountOfDedicatedServers" type="xs:int"/>
                        <xs:element default="0" name="amountOfCloudServers" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="UserDataCheck"> </wsdl:portType>
    <wsdl:binding name="UserDataCheckSoap11" type="tns:UserDataCheck">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>
    <wsdl:service name="UserDataCheckService">
        <wsdl:port binding="tns:UserDataCheckSoap11" name="UserDataCheckSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>